<%- include('../includes/html-header.ejs') %>
<!-- navbar section -->
<%- include('../includes/admin-header.ejs') %>

    <div class="container service">
        <h2><%= editMode ? 'Edit this product' : 'Create new product' %> </h2>
        <% if(err) {%>
            <h6 class="alert alert-danger"><%= err %></h6>
        <% } %>
        <hr>
        <form action="<%= editMode ? '/admin/edit-product' : '/admin/create-product' %>" 
            method="POST" 
            enctype="multipart/form-data">

            <div class="form-group">
                <label for="title">Product name</label>
                <input type="text" class="form-control" 
                        name="name" 
                        placeholder="Enter name"
                        value="<%= editMode ? product.name : '' %>">
            </div>

            <div class="form-group">
                <label for="brand">Product brand</label>
                <input type="text" class="form-control" 
                        name="brand" 
                        placeholder="Enter brand"
                        value="<%= editMode ? product.brand : '' %>">
            </div>

            <div class="form-group">
                <label for="desc">product description</label>
                <textarea type="text" 
                            class="form-control" 
                            name="desc" 
                            placeholder="Enter description"
                            rows="5"><%= editMode ? product.desc : '' %></textarea>
            </div>
            <% if(!editMode) { %>
                <div class="form-group">
                    <label for="lang">Language</label>
                    <select name="lang" id="lang" class="form-control">
                        <option value="vn">Viet Nam</option>
                        <option value="en">English</option>
                        <option value="ko">Korean</option>
                    </select>
                </div>
            <% } %>

            <div class="form-group">
                <label for="img">Images</label>
                <input name="image" type="file" accept="images/*" class="form-control" >
                <% if(editMode) { %>
                    <img src="<%= product.imgUrl %>" alt="old file" height="200">
                <% } %>
            </div>

            <% if(editMode) { %>
                <input type="hidden" value="<%= product._id %>" name="prodId">                
            <% } %>

            <button class="btn btn-success" type="submit">
                <%= editMode ? 'Update' : 'Create new' %>
            </button>
        </form>
    </div>

<%- include('../includes/html-footer.ejs') %></input>