<%- include('../includes/html-header.ejs') %>
<!-- navbar section -->
<%- include('../includes/admin-header.ejs') %>


<div class="container service" id="service">
    <h2> Promotion </h2>
    <form class="filter" action="/admin/promotion" method="GET">
        <div class="filter__lang">
            <select name="lang" id="lang" class="form-control">
                <option value="none">pick one</option>
                <option value="vn" <%= filApply.lgFilter === 'vn' ? 'selected' : '' %>>Vietnamese</option>
                <option value="en" <%= filApply.lgFilter === 'en' ? 'selected' : '' %>>English</option>
                <option value="ko"<%= filApply.lgFilter === 'ko' ? 'selected' : '' %>>Korean</option>
            </select>            
        </div>
        <button class="btn btn-outline-info">Apply filter</button>
    </form>
    <hr>
    <div class="service__body">
        <div class="service__title">
            <h4><%= promotions.length %> Promotions total</h4>
            <a href="/admin/create-promotion" class="btn btn-primary">Create promotion </a>
        </div>
        <% if(!promotions[0]) { %>
            <h5>There is no Promotions here! Let's <a href="/admin/create-promotion">create one</a></h5>
        <% } else { %>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">discount(%)</th>
                        <th scope="col">image</th>
                        <th scope="col">time start</th>
                        <th scope="col">time end</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% promotions.forEach((pro,i)=>{ %>
                        <tr>
                            <td><%= i %></td>
                            <td><%= pro.title %></td>
                            <td class="desc"><%= pro.desc %></td>
                            <td><%= pro.discount %></td>
                            <td>
                                <img class="service__img" src="<%= pro.imgUrl %>" alt="anh">
                            </td>
                            <td><%= pro.timeStart %></td>
                            <td><%= pro.timeEnd %></td>
                            <td class="service__action">
                                <a href="/admin/promotion/<%= pro._id %>" 
                                    class="btn btn-warning mb-2 btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm del-btn">
                                    Delete
                                </button>
                                <input type="hidden" value="<%= pro._id %>" class="proId">
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
        <div class="popup__wrapper">
            <div class="popup">
                <h4 class="popup__title">Are you sure ?</h4>
                
                <p class="popup__desc">
                    This action cannot be restored and this object will be deleted forever
                </p>
                
                <form class="popup__action d-flex" 
                        action="/admin/delete-promotion" 
                        method="POST">
                    <input type="hidden" value="" name="proId" class="curId">
                    <a href="#" class="btn btn-outline-secondary mr-4 canc-btn">Cancel</a>
                    <button type="submit" class="btn btn-outline-primary">
                        Yes, Delete
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<%- include('../includes/html-footer.ejs') %>