<%- include('../includes/html-header.ejs') %>
<!-- navbar section -->
<%- include('../includes/admin-header.ejs') %>


<div class="container service" id="service">
    <h2> Service page </h2>
    <form class="filter" action="/admin/service" method="GET">
        <div class="filter__lang">
            <select name="lang" id="lang" class="form-control">
                <option value="none">pick language</option>
                <option value="vn" <%= filApply.lgFilter === 'vn' ? 'selected' : '' %>>Vietnamese</option>
                <option value="en" <%= filApply.lgFilter === 'en' ? 'selected' : '' %>>English</option>
                <option value="ko"<%= filApply.lgFilter === 'ko' ? 'selected' : '' %>>Korean</option>
            </select>            
        </div>
        <div class="filter__tag">
            <select name="tag" id="tag" 
                    class="form-control">
                <option value="none"> pick tag</option>
                <option value="face" <%= filApply.tgFilter === 'face' ? 'selected' : '' %>> 
                    Facial care and treatment
                </option>
                <option value="massage" <%= filApply.tgFilter === 'massage' ? 'selected' : '' %>>
                    Massage therapy
                </option>
                <option value="body" <%= filApply.tgFilter === 'body' ? 'selected' : '' %>>
                    Body treatment
                </option>
                <option value="package" <%= filApply.tgFilter === 'package' ? 'selected' : '' %>>
                    Spa package
                </option>
                <option value="other" <%= filApply.tgFilter === 'other' ? 'selected' : '' %>>
                    Other
                </option>
            </select>
        </div>
        <button class="btn btn-outline-info">Apply filter</button>
    </form>
    <hr>
    <div class="service__body">
        <div class="service__title">
            <h4><%= services.length %> services total</h4>
            <a href="/admin/create-service" class="btn btn-primary">Create service </a>
        </div>
        <% if(!services[0]) { %>
            <h5>There is no services here! Let's <a href="/admin/create-service">create one</a></h5>
        <% } else { %>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Name</th>
                        <th scope="col">description</th>
                        <th scope="col">tag</th>
                        <th scope="col">image</th>
                        <th scope="col">price(VND)</th>
                        <th scope="col">time(min)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% services.forEach((serv,i)=>{ %>
                        <tr>
                            <td><%= i %></td>
                            <td><%= serv.name %></td>
                            <td class="desc"><%= serv.desc.join(' ') %></td>
                            <td><%= tags[i] %></td>
                            <td>
                                <img class="service__img" src="<%= serv.imgUrls[0] %>" alt="anh">
                            </td>
                            <td class="price"><%= serv.price %></td>
                            <td><%= serv.time %></td>
                            <td class="service__action">
                                <a href="/admin/service/<%= serv._id %>" 
                                    class="btn btn-warning mb-2 btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm del-btn">
                                    Delete
                                </button>
                                <input type="hidden" value="<%= serv._id %>" class="servId">
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
        <div class="popup__wrapper">
            <div class="popup">
                <h4 class="popup__title">Are you sure ?</h4>
                <hr>
                <p class="popup__desc">
                    This action cannot be restored and this object will be deleted forever
                </p>
                <hr>
                <form class="popup__action d-flex" 
                        action="/admin/delete-service" 
                        method="POST">
                    <input type="hidden" value="" name="servId" class="curId">
                    <a href="#" class="btn btn-outline-secondary mr-4 canc-btn">Cancel</a>
                    <button type="submit" class="btn btn-outline-primary">
                        Yes, Delete
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<%- include('../includes/html-footer.ejs') %>