<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item <%= activeTab === 'home'? 'active': ''  %>">
                        <a class="nav-link" href="/admin">Control Pannel<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item <%= activeTab === 'service'? 'active': ''  %>">
                        <a class="nav-link" href="/admin/service">Services</a>
                    </li>
                    <li class="nav-item <%= activeTab === 'blog'? 'active': ''  %>">
                        <a class="nav-link" href="/admin/blog">Blogs</a>
                    </li>
                    <li class="nav-item <%= activeTab === 'promotion'? 'active': ''  %>">
                        <a class="nav-link" href="/admin/promotion">Promotions</a>
                    </li>
                    <li class="nav-item <%= activeTab === 'product'? 'active': ''  %>">
                        <a class="nav-link" href="/admin/product">Products</a>
                    </li>
                    <li class="nav-item <%= activeTab === 'message'? 'active': ''  %>">
                        <a class="nav-link" href="/admin/message">Messages</a>
                    </li>
                </ul>
            </div>
            <div class="form-inline my-2 my-lg-0">
                <form action="/auth/logout" method="POST">
                    <button class="btn btn-warning">Logout</button>
                </form>
            </div>
        </div>
    </nav>