<nav class="cli-header" style="background-image: linear-gradient(90deg,rgba(30,105,72,.66),rgba(14, 117, 70, 0.7)),
url('https://xuanspa.blob.core.windows.net/admin/hero3.jpg');">
    <header class="cli-header__head">
        <div class="cli-header__brand">
            <img src="images/Logo.png" alt="logo" 
                class="cli-header__logo">
            <h5>Xuan Spa</h5>
        </div>
        <div class="cli-header__nav">
            <a href="/" class="cli-header__link">
                홈페이지
            </a>
            <a href="/about-us" class="cli-header__link <%= activeTab === 'about' ? 'cli-header__active' : '' %>">
                회사 소개
            </a>
            <a href="/services" class="cli-header__link <%= activeTab === 'service' ? 'cli-header__active' : '' %>">
                서비스
            </a>
            <a href="/product" class="cli-header__link <%= activeTab === 'product' ? 'cli-header__active' : '' %>">
                제작품
            </a>
            <a href="/blog" class="cli-header__link <%= activeTab === 'blog' ? 'cli-header__active' : '' %>" >
                블로그
            </a>
            <a href="/promotion" class="cli-header__link <%= activeTab === 'promotion' ? 'cli-header__active' : '' %>" >
                승진
            </a>
            <a href="/contact" class="cli-header__link <%= activeTab === 'contact' ? 'cli-header__active' : '' %>">
                예매
            </a>
            <a href="/recruit" class="cli-header__link <%= activeTab === 'recruit' ? 'cli-header__active' : '' %>">
                신병 모집
            </a>
        </div>
        <div class="responsive">
            <svg class="responsive__menu">
                <use xlink:href="images/symbol.svg#icon-menu"></use>
            </svg>
        </div>
        <%- include('./res-menu.ejs') %>
    </header>

    <div class="cli-header__title">
        <h4><%= headerTitle %></h4>
        <img src="images/divider.png" alt="divider" 
        class="cli-header__divider">
    </div>
</nav>