<%- include('../includes/html-header.ejs') %>
    <%- include('../includes/en/client-header.ejs') %>
    <script>
        function initMap() {
            const CS1 = {lat: 16.058371, lng: 108.217709};
            const CS2 = {lat: 16.051002, lng: 108.244441};
            // The map, centered at AK
            const map = new google.maps.Map(
                document.getElementById('map'), {zoom: 14, center: CS2});
            const marker = new google.maps.Marker({position: CS1, map: map, title:'Xuan Spa Boutique'});
            const marker2 = new google.maps.Marker({position: CS2, map: map, title: 'Xuan Spa'});
        }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= mapApiKey %>&callback=initMap">
    </script>

        <div class="contact grid">
            <div class="contact__body grid">

                <div class="contact__form">
                    <h4 class="contact__title">
                        Book now!
                    </h4>
                    <h6>What do you want to message us</h6>
                    <form action="/message" class="book__form container" method="POST">
                        <div class="book__inline">
                            <input type="text" class="book__input mr-2"
                                    placeholder="Your name" name="name">
                            <input type="text" class="book__input"
                                        placeholder="Your phone number" name="phone">
                        </div>
                        <div class="book__inline">
                            <input type="email" class="book__input mr-2"
                                        placeholder="Email" name="email">
                            <input type="number" class="book__input"
                                        placeholder="How many people go with you?" name="number">                            
                        </div>

                        <div class="book__inline">
                            <select name="service" id="service" class="book__option pr-4 mr-2" >
                                <option value="none">Required service</option>
                                <% services.forEach(serv=>{ %>
                                    <option value="<%= serv._id %>"><%= serv.name %></option>
                                <% }) %>
                            </select>
                            <input type="text" class="book__input" id="datepicker"
                                placeholder="When do you come?" name="time">
                        </div>
                        
                        <textarea type="text" class="book__input--area pt-2"
                                    placeholder="Your message"
                                    rows="8"
                                    name="mess"></textarea>
            
                        <button class="btn-book mt-2">Send to us</button>
                    </form>
                </div>
                <div class="contact__info">
                    <h4 class="contact__info-title">
                        About us
                    </h4>
                    <p class="contact__about">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fugit culpa quam tempore itaque! Dolorum est dolores dolor, assumenda ad, repudiandae voluptas iste quae nulla totam distinctio, repellendus officiis expedita. <br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum mollitia explicabo veritatis expedita culpa amet accusamus cum harum dolor et cupiditate excepturi, voluptatum itaque exercitationem laboriosam ipsa blanditiis rerum labore?
                    </p>
                    <div class="contact__more">
                        <div class="footer__info-block">
                            <svg class="footer__icon">
                                <use xlink:href="images/symbol.svg#icon-home"></use>
                            </svg>
                            <h5 class="footer__icon-info">
                                XUÂN SPA BOUTIQUE <br>
                                Address: B4-05 An Thượng 38 street, Ngũ Hành Sơn district,Da Nang city  <br>
                                Phone number: 0236.3.583.589 <br>
                                Working time: 08h30 – 22h30 <br>
                            </h5>
                        </div>
                         <div class="footer__info-block">
                            <svg class="footer__icon">
                                <use xlink:href="images/symbol.svg#icon-home"></use>
                            </svg>
                            <h5 class="footer__icon-info">
                                XUÂN SPA <br>
                                Address: 32 Nguyễn Trường Tộ street, Hải Châu district, Đà Nẵng city  <br>
                                Phone number: 0236.3838.589 <br>
                                Working time: 08h30 – 20h00 <br>
                            </h5>
                        </div>
                    </div>
    
                    <a href="#" class="contact__fb">
                        <svg>
                            <use xlink:href="images/symbol.svg#icon-facebook-with-circle"></use>
                        </svg>
                    </a>
                </div>
                <img src="images/flower1.png" alt="anh" class="contact__flw1">
                <img src="images/flower2.png" alt="anh" class="contact__flw2">

            </div>
        </div>
        
        <div id="map"></div> 
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#datepicker" ).datepicker({
                    altFormat: 'dd-mm-yy',
                    dateFormat: 'dd-mm-yy'
                });
            } );
        </script>   
        
     <%- include('../includes/en/client-footer.ejs') %>
<%- include('../includes/html-footer.ejs') %>