<%- include('../includes/html-header.ejs') %>
    <%- include('../includes/vn/client-header.ejs') %>

        <div class="container service">
            <div class="service__abstract">
                <p>
                    <strong>Some story about spa</strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum malesuada sem, sit amet ultrices augue porttitor non. Suspendisse et magna varius ligula vestibulum venenatis at eget nunc. Quisque interdum feugiat libero, efficitur euismod tortor suscipit nec. Nam vel lectus odio. Morbi mattis, felis vitae hendrerit fermentum, dolor augue accumsan est, vel rutrum dui tellus in risus. 
                </p>
            </div>
            <div class="service__body">
                <ul class="service__tabs">
                    <li class="service__tab tab-active" data-tab="face">
                        Chăm sóc da mặt
                    </li>
                    <li class="service__tab" data-tab="massage">
                        Liệu trình maxa
                    </li>
                    <li class="service__tab" data-tab="body">
                        Chăm sóc cơ thể
                    </li>
                    <li class="service__tab" data-tab="package">
                        Các gói toàn diện
                    </li>
                    <li class="service__tab" data-tab="all">
                        Toàn bộ dịch vụ
                    </li>
                </ul>

                <div class="service__show" data-tag="face">

                    <% serviceFace.forEach(serv=>{ %>
                        <div class="service__card">
                            <img src="<%= serv.imgUrls[0] %>" alt="anh" 
                                class="service__card-img">
                            <div class="service__card-info">
                                <span class="service__tag"><%= serv.tag %></span>
                                <h4 class="service__name"><%= serv.name %></h4>
                                <div class="service__time">
                                    <svg class="service__icon">
                                        <use xlink:href="images/symbol.svg#icon-spa"></use>
                                    </svg>
                                    <p><%= serv.price %> vnd / <%= serv.time %> phút</p>
                                </div>
                                <a href="#" class="service__link">
                                    <h6>Xem thêm</h6>
                                    <svg>
                                        <use xlink:href="images/symbol.svg#icon-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                </div>
            </div>
        </div>

     <%- include('../includes/vn/client-footer.ejs') %>
<%- include('../includes/html-footer.ejs') %>