<%- include('../includes/html-header.ejs') %>
    <%- include('../includes/vn/client-header.ejs') %>
    <script>
        function initMap() {
            const CS1 = {lat: 16.058371, lng: 108.217709};
            const CS2 = {lat: 16.051002, lng: 108.244441};
            // The map, centered at AK
            const map = new google.maps.Map(
                document.getElementById('map'), {zoom: 14, center: CS2});
            const marker = new google.maps.Marker({position: CS1, map: map, title:'Xuan Spa Boutique'});
            const marker2 = new google.maps.Marker({position: CS2, map: map, title: 'Xuan Spa'});
        }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBujqMBozUkmblM1GY3mZkIoDzyiKqJSpU&callback=initMap">
    </script>

        <div class="contact grid">
            <div class="contact__body grid">

                <div class="contact__form">
                    <h4 class="contact__title">
                        Đặt chỗ!
                    </h4>
                    <h6>Bạn muốn nhắn gì đến chúng tôi?</h6>
                    <form action="/message" class="book__form container" method="POST">
                        <div class="book__inline">
                            <input type="text" class="book__input mr-2"
                                    placeholder="Tên của bạn" name="name">
                            <input type="text" class="book__input"
                                        placeholder="Số điện thoại" name="phone">
                        </div>
                        <input type="email" class="book__input"
                                    placeholder="Email" name="email">

                        <select name="service" id="service" class="book__option pr-4" >
                            <option value="none">Dịch vụ yêu cầu</option>
                            <% services.forEach(serv=>{ %>
                                <option value="<%= serv._id %>"><%= serv.name %></option>
                            <% }) %>
                        </select>
                        
                        <textarea type="text" class="book__input--area pt-2"
                                    placeholder="Lời nhắn"
                                    rows="8"
                                    name="mess"></textarea>
            
                        <button class="btn-book mt-2">Gửi tin nhắn</button>
                    </form>
                </div>
                <div class="contact__info">
                    <h4 class="contact__info-title">
                        Về chúng tôi
                    </h4>
                    <p class="contact__about">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fugit culpa quam tempore itaque! Dolorum est dolores dolor, assumenda ad, repudiandae voluptas iste quae nulla totam distinctio, repellendus officiis expedita. <br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum mollitia explicabo veritatis expedita culpa amet accusamus cum harum dolor et cupiditate excepturi, voluptatum itaque exercitationem laboriosam ipsa blanditiis rerum labore?
                    </p>
                    <div class="contact__more">
                        <div class="footer__info-block">
                            <svg class="footer__icon">
                                <use xlink:href="images/symbol.svg#icon-home"></use>
                            </svg>
                            <h5 class="footer__icon-info">
                                XUÂN SPA BOUTIQUE <br>
                                Địa chỉ: B4-05 Đường An Thượng 38, Q. Ngũ Hành Sơn, Tp. Đà Nẵng  <br>
                                Số điện thoại: 0236.3.583.589 <br>
                                Giờ làm việc: 08h30 – 22h30 <br>
                            </h5>
                        </div>
                         <div class="footer__info-block">
                            <svg class="footer__icon">
                                <use xlink:href="images/symbol.svg#icon-home"></use>
                            </svg>
                            <h5 class="footer__icon-info">
                                XUÂN SPA <br>
                                Địa chỉ: 32 Đường Nguyễn Trường Tộ, Q. Hải Châu, Tp. Đà Nẵng  <br>
                                Số điện thoại: 0236.3838.589 <br>
                                Giờ làm việc: 08h30 – 20h00 <br>
                            </h5>
                        </div>
                    </div>
    
                    <a href="#" class="contact__fb">
                        <svg>
                            <use xlink:href="images/symbol.svg#icon-facebook-with-circle"></use>
                        </svg>
                    </a>
                </div>
                <img src="images/flower1.png" alt="anh" class="contact__flw1">
                <img src="images/flower2.png" alt="anh" class="contact__flw2">

            </div>
        </div>
        
        <div id="map"></div>   
        
     <%- include('../includes/vn/client-footer.ejs') %>
<%- include('../includes/html-footer.ejs') %>