<%- include('../includes/html-header.ejs') %>
    <%- include('../includes/vn/client-header.ejs') %>

        <div class="blogDetail container">
            <div class="blogDetail__content">
                <input type="hidden" name="html" value="<%= adminData.recruitContent.html %>">
                <div id="content"></div>
            </div>
        </div>


     <%- include('../includes/vn/client-footer.ejs') %>
<%- include('../includes/html-footer.ejs') %>