<%- include('../includes/html-header.ejs') %>
    <%- include('../includes/vn/client-header.ejs') %>

        <div class="container client-service">
            <div class="client-service__body">
                <ul class="client-service__tabs">
                    <li class="client-service__tab" data-tab="face">
                       Trị liệu da mặt
                    </li>
                    <li class="client-service__tab" data-tab="massage">                        
                        Massage toàn thân
                    </li>
                    <li class="client-service__tab" data-tab="body">
                        Chăm sóc da toàn thân
                    </li>
                    <li class="client-service__tab" data-tab="package">
                        Các gói spa làm đẹp
                    </li>
                    <li class="client-service__tab" data-tab="all">
                        Tẩy lông
                    </li>
                </ul>

                <div class="client-service__show" data-tag="face">

                    <% serviceFace.forEach(serv=>{ %>
                        <div class="client-service__card">
                            <img src="<%= serv.imgUrls[0] %>" alt="anh" 
                                class="client-service__card-img">
                            <div class="client-service__card-info">
                                <span class="client-service__tag"><%= serv.tag %></span>
                                <h4 class="client-service__name"><%= serv.name %></h4>
                                <div class="client-service__time">
                                    <svg class="client-service__icon">
                                        <use xlink:href="images/symbol.svg#icon-spa"></use>
                                    </svg>
                                    <p><span class="Price"><%= serv.price %></span> vnd / <%= serv.time %> phút</p>
                                </div>
                                <a href="/services/<%= serv.seoName %>.<%= serv._id %>" class="client-service__link">
                                    <h6>Xem thêm</h6>
                                    <svg>
                                        <use xlink:href="images/symbol.svg#icon-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                </div>

                <div class="client-service__show" data-tag="massage">

                    <% serviceMassage.forEach(serv=>{ %>
                        <div class="client-service__card">
                            <img src="<%= serv.imgUrls[0] %>" alt="anh" 
                                class="client-service__card-img">
                            <div class="client-service__card-info">
                                <span class="client-service__tag"><%= serv.tag %></span>
                                <h4 class="client-service__name"><%= serv.name %></h4>
                                <div class="client-service__time">
                                    <svg class="client-service__icon">
                                        <use xlink:href="images/symbol.svg#icon-spa"></use>
                                    </svg>
                                    <p><span class="Price"><%= serv.price %></span> vnd / <%= serv.time %> phút</p>
                                </div>
                                <a href="/services/<%= serv.seoName %>.<%= serv._id %>" class="client-service__link">
                                    <h6>Xem thêm</h6>
                                    <svg>
                                        <use xlink:href="images/symbol.svg#icon-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                </div>

                <div class="client-service__show" data-tag="body">

                    <% serviceBody.forEach(serv=>{ %>
                        <div class="client-service__card">
                            <img src="<%= serv.imgUrls[0] %>" alt="anh" 
                                class="client-service__card-img">
                            <div class="client-service__card-info">
                                <span class="client-service__tag"><%= serv.tag %></span>
                                <h4 class="client-service__name"><%= serv.name %></h4>
                                <div class="client-service__time">
                                    <svg class="client-service__icon">
                                        <use xlink:href="images/symbol.svg#icon-spa"></use>
                                    </svg>
                                    <p><span class="Price"><%= serv.price %></span> vnd / <%= serv.time %> phút</p>
                                </div>
                                <a href="/services/<%= serv.seoName %>.<%= serv._id %>" class="client-service__link">
                                    <h6>Xem thêm</h6>
                                    <svg>
                                        <use xlink:href="images/symbol.svg#icon-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                </div>

                <div class="client-service__show" data-tag="package">

                    <% servicePackage.forEach(serv=>{ %>
                        <div class="client-service__card">
                            <img src="<%= serv.imgUrls[0] %>" alt="anh" 
                                class="client-service__card-img">
                            <div class="client-service__card-info">
                                <span class="client-service__tag"><%= serv.tag %></span>
                                <h4 class="client-service__name"><%= serv.name %></h4>
                                <div class="client-service__time">
                                    <svg class="client-service__icon">
                                        <use xlink:href="images/symbol.svg#icon-spa"></use>
                                    </svg>
                                    <p><span class="Price"><%= serv.price %></span> vnd / <%= serv.time %> phút</p>
                                </div>
                                <a href="/services/<%= serv.seoName %>.<%= serv._id %>" class="client-service__link">
                                    <h6>Xem thêm</h6>
                                    <svg>
                                        <use xlink:href="images/symbol.svg#icon-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                </div>

                <div class="client-service__show" data-tag="all">

                    <% serviceOther.forEach(serv=>{ %>
                        <div class="client-service__card">
                            <img src="<%= serv.imgUrls[0] %>" alt="anh" 
                                class="client-service__card-img">
                            <div class="client-service__card-info">
                                <span class="client-service__tag"><%= serv.tag %></span>
                                <h4 class="client-service__name"><%= serv.name %></h4>
                                <div class="client-service__time">
                                    <svg class="client-service__icon">
                                        <use xlink:href="images/symbol.svg#icon-spa"></use>
                                    </svg>
                                    <p><span class="Price"><%= serv.price %></span> vnd / <%= serv.time %> phút</p>
                                </div>
                                <a href="/services/<%= serv.seoName %>.<%= serv._id %>" class="client-service__link">
                                    <h6>Xem thêm</h6>
                                    <svg>
                                        <use xlink:href="images/symbol.svg#icon-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                </div>

            </div>
        </div>

     <%- include('../includes/vn/client-footer.ejs') %>
<%- include('../includes/html-footer.ejs') %>